
.container{
    width: 100%;
    max-width: 500px;
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
}

.table{
    width: 100%;
    border: 1px solid #000;
}

.td{
    border: 1px solid #000;
}